# --- ENVIRONNEMENT VIRTUEL (BACKEND) ---
# On ignore le dossier qui contient l'installation de Python
backend/aicoach_back/

# Au cas où tu créerais d'autres venv standard plus tard
venv/
.venv/
env/

# --- CODE PYTHON (CACHE) ---
**/__pycache__/
*.py[cod]
*$py.class

# --- FRONTEND (Node/React/Vite) ---
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*

# --- CONFIGURATION & SECRETS ---
.env
.env.*
# On ignore aussi le fichier Word si c'est juste de la doc perso
*.docx

# --- EDITEURS & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db